<nav class="navbar navbar-dark bg-dark justify-content-end top-bar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/signin">Sign In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onLogout()" href="javascript://">Logout</a>
    </li>
  </ul>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/recipes">Recipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
  </li>
</ul>
</nav>
