<div
  class="list-group-item"
  routerLinkActive="list-group-item-secondary"
>
  <div class="row">
    <div class="col-sm-9">
      <h4>{{ recipe.name }}</h4>
      <p class="small">{{ recipe.description }}</p>
      <a class="btn btn-primary" [routerLink]="['/recipes', recipe.id]">See Details</a>
    </div>


    <div class="col-sm-3 text-right">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-thumbnail"
        style="max-height: 100px;">
    </div>
  </div>
</div>
