<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="card" style="width: 18rem;"
         *ngFor="let recipe of recipes">
      <img class="card-img-top" src="{{ recipe.imagePath }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text">{{ recipe.description }}</p>
        <a href="#" class="btn btn-primary">More Details</a>
      </div>
    </div>

    <app-recipe-item></app-recipe-item>
  </div>
</div>
